<!-- qweqweqeqweq-->
<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include ./partials/_header%>
</head>
<body>
  <h2>Your Short URLS</h2>
  <div>
    <ul>
      <% for (let i in urls) {%>
      <li>
      <div>
        <form method="POST" action="/urls/<%=i%>/delete">
          <%=i;%>&#x2192;<a href="/u/<%=i%>"><%=urls[i];%></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/urls/<%=i%>" onclick="POST">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" value="Delete"/>
        </form>
      </div>
      </li>
      <% }%>
    </ul>
  </div>
  <a href="">Shortening Link</a>
</body>
</html>